<div class="uk-container uk-container- uk-align-center"> 
<p class="uk-heading-primary uk-text-muted">New Team</p>
<div class="uk-height uk-padding uk-card-default">
<%= render 'form', team: @team %>
</div>
</div>