 <% if @collections.empty? %>
    <div class="uk-text-center uk-width-1-1 uk-height-small">
      <h3 class="uk-light">No collections available</h3>
    </div>
    <% else %>
<!-- #START DIPLAY LIST -->
    <% @collections.each do |collection| %>
    <%= link_to collection, class: "uk-link-muted" do %>
    <div class="uk-margin-small-left" uk-grid>
    <div class="uk-height-small uk-width-small" style="overflow: hidden; background: url('<%= collection.coll_cover.thumb.url %>') no-repeat center center; background-size: cover;">
    </div>
            <div class="uk-width-expand uk-light" style="overflow: hidden;">
    <h3 class="uk-card-title uk-margin-remove-bottom uk-text-capitalize"><%= collection.coll_title %></h3>
    <p class="uk-text-meta uk-margin-remove-top">project <%= collection.project_id %></p>       </div>
        </div>               
        <hr class="uk-list-divider uk-margin-remove-bottom uk-margin-small-left uk-margin-small-right">
    <% end %>
    <% end %>
<!-- #END DISPLAY LIST-->
    <% end %>