</div>
</div>
<!-- #END COLLECTIONS CONTAINER -->

<script type="text/javascript">
    $(function() {
      //if ('< %= params[:pg] %>'== 0) {
    //$('#projects').addClass('cst-active-no-line');
//} else {
    $('#<%= params[:pg] %>').addClass('cst-active-no-line');
 // }
    });
</script>