<div class="uk-section-small uk-clearfix">
	<div class="uk-container uk-container-expand uk-text-center uk-position-relative">
		<ul uk-margin="" class="uk-subnav tm-subnav uk-flex-inline uk-flex-center uk-margin-remove-bottom">
			<li class="uk-first-column">
			<span>© 2018 tutano </span></li> 
				<li>
					<a href="https://twitter.com/twittutano" class="uk-text-lowercase">
					<span uk-icon="icon: twitter" class="uk-margin-medium-left uk-icon"></span> @twittutano</a>
				</li>
				<li>
					<a href="https://instagram.com/tutano" class="uk-text-lowercase">
					<span uk-icon="icon: instagram" class="uk-margin-medium-left uk-icon"></span> @tutano</a>
				</li>
				<li>
					<span class="uk-margin-medium-left">hard bone? Great narrow!</span></li> 
				</ul> 
				</div>
				</div>