<%= render "shared/navigation/backend_nav" %>
<div class="uk-container uk-container- uk-align-center"> 
<p class="uk-heading-primary uk-text-muted">New Project</p>
<div class="uk-height uk-padding uk-card-default">
<%= render 'form', project: @project %>
</div>
</div>
 