
  <!--%= @greeting %>, find me in app/views/message_mailer/contact_me.html.erb -->
  <p class="uk-text-lead">Name: <%= @name %></p>
  <p class="uk-text-emphasis">Email: <%= @email %></p>
  <p><%= @body %></p>
