/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *=dropzone/dropzone
 *= require_tree .
 *= require_self
 */
 
@import url('https://fonts.googleapis.com/css?family=Bubbler+One|Chau+Philomene+One|Coustard|Francois+One|IBM+Plex+Serif:400,600|Open+Sans+Condensed:300,300i,700|Suez+One');


.tm-section-texture {
    background: url("../images/section-background.svg") 50% 17vh no-repeat,linear-gradient(to left top, #28a5f5, #1e87f0) 0 0 no-repeat;
}


html, body {
	background-color: #373737; /*carcoal*/
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1.2rem;
    color: #888;

}


/*
*
* :::::: Text
*
*/
h1,h2,h3,h4,h5,h6,.cst-h1,.cst-h2,.cst-h3{ font-family: 'IBM Plex Serif', serif; font-weight: 400; font-size: 200%;}

@media (min-width: 960px){
.cst-h3{
    font-size:  3.75rem;
    line-height: 1.1;
}
/*
    .cst-h2{
}
.cst-h1{
}*/
}
.cst-h3{
    font-size:  2.625rem;
    line-height: 1.2;
}
.cst-gold {
	color: #C0B283; /* gold */
}
.cst-white {
    color: #F8F8F8;
}
.uk-overlay-primary {
    background: rgba(34,34,34,.6);
}
.uk-navbar-nav>li>a:active {
    color: #C0B283;
    border-color: #C0B283;
}
.cst-active a, .cst-active a:focus, .cst-active > :first-child {
    color: #f8f8f8; /*#C0B283; /* gold */
    border-bottom: 2px solid #F8F8F8; /* #C0B283; /*#373737; */
}
.cst-active-no-line a, .cst-active-no-line a:focus, .cst-active-no-line > :first-child {
    color: #f8f8f8; /*#C0B283; /* gold */
    /*border-bottom: 2px solid #F8F8F8;  #C0B283; /*#373737; */
}

.uk-tooltip {
    font-size: 1.2rem;
}

.cst_select > select{
/*position: absolute;*/ 
top: 0;
z-index: 1;
width: auto;
/*height: 100%;*/
left: 0;
-webkit-appearance: none;
/*opacity: 0;*/
cursor: pointer;
font-size: 24px;
line-height: 36px;
padding: 0 10px;
font-family: inherit;
color: #666;
border: 1px solid #e5e5e5;
background: #fff;
transition: .2s ease-in-out;
transition-property: color, background-color, border;

}
.bg_light{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f9e77c+0,7db9e8+100&1+0,0+100 */
background: -moz-linear-gradient(45deg, rgba(249,231,124,1) 0%, rgba(125,185,232,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(45deg, rgba(249,231,124,1) 0%,rgba(125,185,232,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg, rgba(249,231,124,1) 0%,rgba(125,185,232,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9e77c', endColorstr='#007db9e8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}