// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.bg_toggle{
     background: url('http://res.cloudinary.com/dasilvacloudipkutdchgvhjvjdqw/image/upload/v1523222530/Ui_tutanus/business-man.jpg') no-repeat center
     center fixed;
     background-size: cover;
     overflow: hidden;
}